<form class="form-group" style="margin-top: 0px" *ngIf="!isLoggedIn">
    <div class="col-md-4">
        <input type="text" placeholder="username (email)" [(ngModel)]="account.email" name="username" class="form-control" />
    </div>
    <div class="col-md-4">
        <input type="password" placeholder="password" [(ngModel)]="account.password" name="password" class="form-control" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-info" (click)="login()">
            <i class="glyphicon glyphicon-log-in"></i> Login
        </button>
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-default" (click)="register()">
            Register
        </button>
    </div>
    <div *ngIf="message">{{message}}</div>
</form>
<form class="form-group" *ngIf="isLoggedIn">
    <span>Welcome {{account.email}}!</span>
    <button type="submit" class="btn btn-default" (click)="logout()">
        <i class="glyphicon glyphicon-log-out"></i> Logout
    </button>
    <div *ngIf="message">{{message}}</div>
</form>