<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div *ngIf='family'>
    <form #form="ngForm" (submit)="onSubmit(form)" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{family.id == 0 ? "Adding new family" : family.name}}</span>
                <button type="button" class="close" aria-label="Close" [routerLink]="['/families']">
                    <span aria-hidden="true"><i class="glyphicon glyphicon-remove white"></i></span>
                </button>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div [class.has-error]="name.invalid && name.dirty">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-4">
                            <input #name="ngModel" name="name" type="text" maxlength="50" pattern="...+" required class="form-control" [(ngModel)]='family.name' />
                        </div>
                    </div>
                    <label for="binder" class="col-md-2 control-label">Binder</label>
                    <div class="col-md-4">
                        <input name="binder" type="text" class="form-control" [(ngModel)]='family.binder' />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="reset" name="btnReset" class="btn btn-form btn-info" [routerLink]="['/families']"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
            <button type="submit" name="btnSubmit" class="btn btn-form btn-success" >
                <i class="glyphicon glyphicon-floppy-disk"></i> Save
            </button>
        </div>
    </form>
</div>