<header class="bs-docs-nav navbar navbar-static-top" id="top">
    <nav class="navbar navbar-fixed-top">
        <div id="navcontainer" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/welcome']">Home</a>
                <a class="navbar-brand" [routerLink]="['/plants']">Seeds and Plants List</a>
            </div>
            <div class="navbar-brand navbar-right">
                <account-login></account-login>
            </div>
        </div>
    </nav>
</header>

<div class="container body-content">
    <router-outlet></router-outlet>
</div>