<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div *ngIf='plant'>
    <form #form="ngForm" (submit)="onSubmit(form)" novalidate>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>{{plant.id == 0 ? "Adding new plant" : plant.name}}</span>
                <span class="badge" style="margin-left: 10px"> {{plant.id == 0 ? "click to add quantity on hand" : plant.quantityOnHand}} </span>
                <button type="button" class="close" aria-label="Close" [routerLink]="['/plants']">
                    <span aria-hidden="true"><i class="glyphicon glyphicon-remove white"></i></span>
                </button>
            </div>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div [class.has-error]="name.invalid && name.dirty">
                        <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-4">
                            <input #name="ngModel" name="name" type="text" maxlength="50" pattern="...+" required class="form-control" [(ngModel)]='plant.name' />
                        </div>
                        <!--<div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
                            Name is required and must be at least 3 characters.
                        </div>-->
                    </div>
                    <div>
                        <label for="species" class="col-md-2 control-label">Species</label>
                        <div class="col-md-4">
                            <input name="species" type="text" maxlength="50" class="form-control" [(ngModel)]='plant.species' />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label for="latinName" class="col-md-2 control-label">Latin name</label>
                        <div class="col-md-4">
                            <input name="latinName" type="text" maxlength="50" class="form-control" [(ngModel)]='plant.latinName' />
                        </div>
                    </div>
                    <!--How to bind a select control from pluralsight:
                        https://app.pluralsight.com/player?course=angular-2-forms&author=mark-zamoyta&name=angular-2-forms-m3&clip=7&mode=live
                    -->
                    <label for="family" class="col-md-2 control-label">Family</label>
                    <div class="col-md-4">
                        <input name="family" type="text" class="form-control" [(ngModel)]='plant.family' />
                    </div>
                </div>
                <div class="form-group">

                    <label for="plantingIn" class="col-md-2 control-label">Planting IN</label>
                    <div class="col-md-4">
                        <input name="plantingIn" type="date" class="form-control" [(ngModel)]='plant.plantingIn' />
                    </div>
                </div>

                <div class="form-group">
                    <label for="directOut" class="col-md-2 control-label">Direct OUT</label>
                    <div class="col-md-4">
                        <input name="directOut" type="date" class="form-control" [(ngModel)]='plant.directOut' />
                    </div>
                    <label for="transplantOut" class="col-md-2 control-label">Transplant OUT</label>
                    <div class="col-md-4">
                        <input name="transplantOut" type="date" class="form-control" [(ngModel)]='plant.transplantOut' />
                    </div>
                </div>

                <div class="form-group">
                    <label for="directGHSummer" class="col-md-2 control-label">Direct GHouse Summer</label>
                    <div class="col-md-4">
                        <input name="directGHSummer" type="date" class="form-control" [(ngModel)]='plant.directGHSummer' />
                    </div>
                    <label for="directGHWinter" class="col-md-2 control-label">Direct GHouse Winter</label>
                    <div class="col-md-4">
                        <input name="directGHWinter" type="date" class="form-control" [(ngModel)]='plant.directGHWinter' />
                    </div>
                </div>

                <div class="form-group">
                    <label for="distanceBetweenPlants" class="col-sm-3 col-md-2 control-label">Distance Between Plants</label>
                    <div class="col-sm-2">
                        <input name="distanceBetweenPlants" type="number" min="0" class="form-control" [(ngModel)]='plant.distanceBetweenPlants' />
                    </div>
                    <label for="distanceBetweenRows" class="col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Distance Between Rows</label>
                    <div class="col-sm-2">
                        <input name="distanceBetweenRows" type="number" min="0" class="form-control" [(ngModel)]='plant.distanceBetweenRows' />
                    </div>
                </div>

                <div class="form-group">
                    <label for="yield" class="col-sm-3 col-md-2 control-label">Yield</label>
                    <div class="col-sm-2">
                        <input name="yield" type="number" class="form-control" [(ngModel)]='plant.yield' />
                    </div>
                    <label for="coldHardy" class="col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Cold Hardy</label>
                    <div class="col-sm-1 checkbox">
                        <input name="coldHardy" type="checkbox" [(checked)]='plant.coldHardy' />
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment" class="col-md-2 control-label">Comment</label>
                    <div class="col-md-10">
                        <textarea name="comment" type="text" class="form-control" rows="3" maxlength="500" [(ngModel)]='plant.comment'></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="reset" name="btnReset" class="btn btn-form btn-info" [routerLink]="['/plants']"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
            <button type="submit" name="btnSubmit" class="btn btn-form btn-success" >
                <i class="glyphicon glyphicon-floppy-disk"></i> Save
            </button>
        </div>
    </form>
</div>